/* 白的导航条 */
.navbar-default{
	position: fixed;
	top:0;
	z-index: 999;
	display: none;
	width: 100%;
}
.navbar-default .navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 60px;
}
.navbar-default .dropdown {
	position: relative;
}

.navbar-default .dropdown-menu {
	position: absolute;
	top: 90px;
	background:#f8f8f8;
}

.navbar-default .dropdown-menu>li>a {
	line-height: 40px;
	color: #000;
}

.navbar-default .dropdown-menu>li>a:hover {
	background:#e7e7e7;
}
/* 导航栏 */
.navbar-inverse {
	background-color: rgba(0, 0, 0, .7);
	border-color: #080808;
}
.navbar-inverse .navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 60px;
}
.navbar-inverse .dropdown {
	position: relative;
}

.navbar-inverse .dropdown-menu {
	position: absolute;
	top: 90px;
	background: rgba(0, 0, 0, .7);
}

.navbar-inverse .dropdown-menu>li>a {
	line-height: 40px;
	color: #fff;
}

.navbar-inverse .dropdown-menu>li>a:hover {
	background: rgba(0, 0, 0, .9);
	color: #fff;
}
.footer{background:#3d3f3e;padding:50px 0;color:#ccc;}
.footer h1{font-size:16px;font-weight: bold;}
.footer p{margin:20px 0;}
.footer p span{margin-right:10px;}
.footer>div>div>div>div{display: flex;}
.footer>div>div>div>div>div{margin-top:-20px;}
.footer>div>div>div>div>img{width: 60px;height: 50px;margin-right:10px;}

.footer-bottom{background:#2c2e2e;padding:30px 0;color:#777;}
.fixed{width: 40px;height: 40px;background:red;color:#fff;text-align: center;
line-height: 40px;position: fixed;bottom:10px;right:10px;}